//====================================================================================================
.footer {
	background-color: #F6F6F6;
	&__container {
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		padding: rem(30) 0;
	}
	&__row {
		margin-bottom: rem(10);
	}
	&__row-inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: rem(-10);
	}
	&__link {
		display: inline-block;
		margin: rem(10);
		font-size: rem(18);
		line-height: rem(27);
		letter-spacing: 0.01em;
	}
	&__copyright {
		font-size: rem(16);
		line-height: rem(24);
		letter-spacing: 0.01em;
		text-align: center;
	}
}
//====================================================================================================
