.summary {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: rem(40);
	padding-bottom: rem(40);
	&__title {
		margin-bottom: rem(20);
	}
	&__text {
		font-size: rem(20);
		font-weight: 400;
		line-height: rem(30);
		letter-spacing: 0.01em;
		text-align: center;
		margin-bottom: rem(40);
		& > p {
			margin-bottom: rem(20);
			&:last-child {
				margin-bottom: 0;
			}
		}
		@media screen and (max-width: $mobile) {
			margin-bottom: rem(30);
		}
	}
	&__blocks {
		width: 100%;
	}
	&__blocks-inner {
		display: flex;
		flex-direction: column;
		margin: rem(-15);
	}
	&__block {
		padding: rem(15);
		@media screen and (max-width: $mobileSmall) {
			margin: 0 rem(-15);
		}
	}
}
.summary-block {
	display: flex;
	max-width: rem(790);
	margin: 0 auto;
	&__wrapper {
		width: 100%;
		background: #FFFFFF;
		box-shadow: 0px 0px rem(30) rgba(0, 0, 0, 0.12);
		border-radius: rem(20);
		padding: rem(30);
		@media screen and (max-width: $mobile) {
			padding: rem(30) rem(16);
		}
	}
	&__inner {
		display: flex;
		flex-direction: column;
	}
	&__header {
		border-bottom: 1.2px solid #AEAEAE;
	}
	&__title {
		display: flex;
		font-size: rem(18);
		font-weight: 600;
		line-height: rem(27);
		letter-spacing: 0.01em;
		text-align: left;
		margin-bottom: rem(16);
		&_p1 {
			color: #FF852A;
			margin-right: rem(9);
		}
	}
	&__body {
		padding-top: rem(16);
	}
	&__body-inner {
		display: flex;
		flex-direction: column;
		margin: rem(-15);
	}
	&__row {
		padding: rem(15);
	}
	&__row-inner {
		display: flex;
		justify-content: space-between;
		margin: rem(-15);
		@media screen and (max-width: $mobile) {
			flex-direction: column;
		}
	}
	&__column {
		padding: rem(15);
		&_max-width {
			flex: 0 1 100%;
		}
	}
	&__column-inner {
		display: flex;
		height: 100%;
		flex-direction: column;
	}
	&__column_rev > &__column-inner {
		flex-direction: column-reverse;
	}
	&__details {
		& > * {
			margin-bottom: rem(10);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__text {
		font-size: rem(18);
		line-height: rem(28);
		font-weight: 500;
		letter-spacing: 0.01em;
		text-align: left;
	}
	&__btn {
		margin-top: rem(15);
		&:last-child {
			margin-top: 0;
		}
	}
	&__video-container {
	}
}
.summary-block-detail {
	display: flex;
	font-size: rem(18);
	line-height: rem(32);
	@media screen and (max-width: $mobile) {
		line-height: rem(27);
	}
	&__icon {
		color: #00ABA1;
		margin-right: rem(12);
		margin-top: rem(-2);
	}
	&__text {
		font-weight: 400;
		letter-spacing: 0.01em;
		text-align: left;
	}
}
